#boggle-board {
  font-family: monospace;
  border: solid 1px gray;
  max-width: 120px;
  padding: 4px;
}
.board-row {
  margin-top: 2px;
  margin-bottom: 2px;
}
.tile {
  border: solid 1px gray;
  padding: 1px;
  padding-left: 2px;
  width: 18px;
  height: 18px;
  font-size: 12pt;
  display: inline-block;
}
